<div class='container-fluid at-2'>
    <div class='form-group row'>
        <form method="Post" class="comment-form" action=".">
            {%csrf_token%} {{context2.comment_form.as_p}}
            <!-- <input type="submit" id="comment" value="comment" class="btn-btn-outline-success">-->
            <input class="btn-btn-outline-success" type="submit" id="post_id" name="comment" value="{{post.id}}">
        </form>
    </div>
</div>

{{comment.count}} {% for c in comment %}
<blockquote class="blockquote">
    <p class="mb-0">{{c.content}}</p>
    <footer class="blockquote-footer">by <cite title="Source Title">{{c.usr.username}}</cite>
        <button type="button" class="reply-btn btn btn-outline-dark btn btn-small ml-2">Reply</button>
    </footer>
</blockquote>


<div class="replied-comments container at-2" style="display:none;">
    {%for reply in c.replies.all%}
    <blockquote class="blockquote">
        <small> <p class="mb-0">{{reply.content}}</p></small>
        <footer class="blockquote-footer"> <small>  by <cite title="Source Title">{{reply.usr.username}}</cite> </small>
        </footer>
    </blockquote>
    {%endfor%}
    <div class='form-group row' class="reply-form">
        <form method="Post" action="{% url 'comment_post' %}">
            {% csrf_token %}{{context2.comment_form.as_p}}
            <input type="hidden" name=c_id value={{c.id}}>
            <input type="submit" value="submit" class="btn-btn-outline-success">
        </form>
    </div>

</div>
{%endfor%}