{% extends "index_new.html" %} {%load crispy_forms_tags %}{% block content%}

<div>
    <div class="trending-title-box">
        <div>
            <a target="_blank" href="https://www.instagram.com/rememe.in/"><img src="https://img.icons8.com/officel/80/000000/instagram-new.png" /> </a>
        </div>




    </div>


    <div class="trending-title-box">

        <div><img src="https://img.icons8.com/office/80/000000/gmail-login.png" /> </div>
        <small><a href="#">rememe.in@gmail.com</a>
        </small>

    </div>



    <div class="trending-title-box">
        <div>
            <a target="_blank" href="https://wa.me/918789717673"><img src="https://img.icons8.com/office/80/000000/whatsapp.png" /></div>
        </a>
        </small>

    </div>


    <div class="trending-title-box">

        <div>
            <a target="_blank" href="https://www.facebook.com/Rememein-102750784774836"><img src="https://img.icons8.com/ultraviolet/80/000000/facebook-new.png" /></a>
        </div>

        </small>

    </div>

</div>
{% endblock %}